.a9-keyvalue-list {
  &, tbody {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  tr {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
  }

  th {
    font: var(--mat-sys-label-small);
    color: var(--mat-sys-on-surface-variant);
    min-width: 9rem;
    text-align: left;
  }

  td {
    font: var(--mat-sys-body-large);
    // padding: 0.25em 0 0.5em 0;
  }

  tr.admin {
    td {
      font: var(--mat-sys-body-small);
      color: var(--mat-sys-on-surface);
    }
  }

  @media (width >= 48rem) {
    display: table;
    border-collapse: collapse;
    // width: 100%;

    tbody {
      display: table-row-group;
    }
    tr {
      display: table-row;
    }

    th {
      font: var(--mat-sys-label-medium);
      color: var(--mat-sys-on-surface);
      padding: 0.75em 2em 0.75em 0;

      &.narrow {
        max-width: 9rem;
      }
    }

    td {
      padding: 0.25em 0;
    }
  }
}

// .mat-mdc-card-content {
//   .a9-keyvalue-list {
//     &:first-child {
//       margin-top: 1rem;
//     }
//   }
// }
