@use '@angular/material' as mat;

.mat-mdc-card {
  .card-icon.mat-mdc-card-avatar {
    // background-color: var(--col-color, currentColor);
    // background-color: var(--mat-sys-secondary);
    .mat-icon {
      height: 40px;
      width: 40px;
      // fill: var(--mat-sys-on-secondary);
      // fill: var(--mat-sys-secondary);
    }
  }
}

.mat-mdc-card-content {
  h2 {
    font: var(--mat-sys-headline-medium);
    margin: 0.5em 0;
  }

  h3 {
    font: var(--mat-sys-headline-small);
    margin: 0.5em 0;
  }

  h4 {
    font: var(--mat-sys-title-medium);
    margin: 0.5em 0;
  }

  h5 {
    font: var(--mat-sys-title-small);
    margin: 1em 0;
  }

  h6 {
    font: var(--mat-sys-label-medium);
    margin: 1em 0;
  }

  p {
    font: var(--mat-sys-body-medium);
    margin: 0.25em 0;
  }
}

.mat-mdc-card-footer {
  p {
    font: var(--mat-sys-body-small);
    margin: 0.5em 1em;
  }
}

.mat-mdc-card-actions {
  .a9-action-bar {
    p {
      margin: 0;
    }
  }
}
