/*

Browser defaults are:

h1 | 2em    | 32px
h2 | 1.5em  | 24px
h3 | 1.17em | 18.72px
h4 | 1em    | 16px
h5 | 0.83em | 13.28px
h6 | 0.67em | 10.72px

*/
.a9-typography {
  h1 {
    font: var(--mat-sys-headline-large);
  }

  h2 {
    font: var(--mat-sys-headline-medium);
  }

  h3 {
    font: var(--mat-sys-headline-small);
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.83em;
  }

  h6 {
    font-size: 0.67em;
  }
}

article {
  & > header {
    h1 {
      font: var(--mat-sys-headline-small);
      margin: 0.35em 0 1em 0;
    }
    h2 {
      font: var(--mat-sys-title-large);
      margin: 0.5em 0;
    }
  }
}
