:host {
  position: sticky;
  bottom: 1rem;
  right: 1rem;
  width: max-content;
  margin-left: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  z-index: 1;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: end;
}
