:host {
  display: inline-flex;
  gap: 0.5em;
  align-items: center;
  flex-direction: row;
  border: 1px solid var(--mat-sys-outline-variant);

  &.slim {
    flex-direction: column-reverse;
    gap: 0;

    .color-swatch {
      height: 0.75em;
    }
  }
}

.color-swatch {
  display: inline-block;
  height: 1.25em;
  width: 5em;
  background-color: var(--col-color, black);
}

.label {
  font: var(--mat-sys-label-small);
  padding-right: 0.5em;
}
