:host {
  display: block;
}

.owner {
  color: var(--mat-sys-primary);
  padding: 0.25em;
  text-decoration: dotted;
  text-decoration-skip-ink: all;
  text-underline-offset: 0.25em;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.permission-set {
  .label {
    font: var(--mat-sys-label-large);
    margin: 0.75em 0;
  }
}
