<a9-http-resource-viewer [resource]="version" *transloco="let t" >
  @if(version.hasValue()) {
  @if(version.value(); as env) {
  <a9-label-value-list class="max-w-2xl p-4 sm:p-0">
    <a9-label-value-item>
      <a9-label>{{ t('Admin UI version') }}</a9-label>
      {{appVersion}}
    </a9-label-value-item>
    <a9-label-value-item>
      <a9-label>{{ t('Server URI') }}</a9-label>
      {{serverUri}}
    </a9-label-value-item>
    <a9-label-value-item>
      <a9-label>{{ t('Path base') }}</a9-label>
      {{env.pathBase}}
    </a9-label-value-item>
    <a9-label-value-item>
      <a9-label>{{ t('Server version') }}</a9-label>
      {{env.version}}
    </a9-label-value-item>
    @if(env.dbmsSchema?.length !== 0) {
    <a9-label-value-item>
      <a9-label>{{ t('DBMS schema') }}</a9-label>
      <ol class="text-xs flex flex-col gap-1">
        @for(schema of env.dbmsSchema; track $index) {
        <li>{{ schema }}</li>
        }
      </ol>
    </a9-label-value-item>
    }
    @if(env.dbmsDataMigrations?.length !== 0) {
    <a9-label-value-item>
      <a9-label>{{ t('DBMS data') }}</a9-label>
      <ol class="text-xs flex flex-col gap-1">
        @for(migration of env.dbmsDataMigrations; track $index) {
        <li>{{ migration }}</li>
        }
      </ol>
    </a9-label-value-item>
    }
  </a9-label-value-list>

  <div hlmTableContainer class="mt-16 p-1 pb-8 sm:p-0">
    <table hlmTable class="w-fit">
      <caption hlmTableCaption class="caption-bottom font-semibold">{{ t('Features by calendar client') }}</caption>
      <thead hlmTableHeader>
        <tr hlmTableRow>
          <th hlmTableHead class="text-left text-muted-foreground align-bottom p-0 py-2">Client</th>
          @for (feature of env.features ?? []; track feature) {
          <th hlmTableHead
            class="w-12 max-w-12 h-fit [writing-mode:vertical-lr] text-right -rotate-14 -translate-x-6 underline">
            {{feature}}
          </th>
          }
        </tr>
      </thead>
      <tbody hlmTableBody>
        @for (calclient of env.featuresEnabled; track calclient.clientType) {
        <tr hlmTableRow>
          <th hlmTableCell class="text-left">{{calclient.clientType}}</th>
          @for (cc of buildClientFeature(calclient, env.features??[]); track cc.feature) {
          <td hlmTableCell class="text-center text-primary rounded-sm border-b-2"
            [hlmTooltip]="cc.feature + (cc.enabled?' en' : ' dis') + 'abled for ' + calclient.clientType"
            [class.checked]="cc.enabled">@if(cc.enabled){ <ng-icon name="matCheckOutline" /> }</td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
  }
</a9-http-resource-viewer>
