:host {
  display: inline-block;
}

.permissions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
  padding: 0.5em 0;
  font: var(--mat-sys-body-small);
  flex-direction: row;

  &.vertical {
    flex-direction: column;
  }

  .permission {
    width: max-content;
    padding: 0.2em 0.6em;
    background-color: var(--calendare-color-permission-prohibit);
    color: var(--calendare-color-on-permission-prohibit);
    border: 1px solid var(--mat-sys-outline-variant);
    border-top-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    &.all {
      border-radius: 0;
      // &:after {
      //   content: '*';
      // }
    }
    &.none {
      border-radius: 0;
      background-color: var(--mat-sys-surface-container-high);
      color: var(--mat-sys-on-surface);
    }
  }
}
