:host {
  display: block;
}

h1.principal {
  display: flex;
  gap: 0.5em;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.permission-set {
  .label {
    font: var(--mat-sys-label-large);
    margin: 0.75em 0;
  }
}

.principal-type {
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
  font-size: 0.7em;
  text-transform: uppercase;
  padding-left: 1rem;
  color: var(--mat-sys-primary);
  &::before {
    // content: "[";
    padding-right: 0.125em;
  }
  &::after{
    // content: "]";
    padding-left: 0.125em;
  }
}

.owner {
  color: var(--mat-sys-primary);
  padding: 0.25em;
  text-decoration: dotted;
  text-decoration-skip-ink: all;
  text-underline-offset: 0.25em;
}
