<article *transloco="let t" class="@container">
  <a9-floating-filter-bar>
    <hlm-field orientation="horizontal">
      <hlm-input-group title="">
        <input type="search" hlmInputGroupInput [formField]="searchForm.searchterm" />
        <div hlmInputGroupAddon align="inline-start">
          <ng-icon name="matSearchOutline" />
        </div>
      </hlm-input-group>
    </hlm-field>
    <hlm-toggle-group type="multiple" variant="emphasis" spacing="0.5" [formField]="searchForm.filterByType"
      class="ms-2">
      @for(ptype of emptySearchForm().filterByType; track $index) {
      <button hlmToggleGroupItem [value]="ptype">
        <cal-icon-principal-type [type]="ptype" />
        <cal-label-principal-type [type]="ptype" class="hidden @xl:inline" />
      </button>
      }
    </hlm-toggle-group>
    <hlm-button-group-separator class="ms-2" />
    <button hlmBtn [variant]="searchForm().dirty() ? 'destructive' : 'ghost'" size="icon" class="ms-2"
      (click)="refresh()">
      <ng-icon [name]="searchForm().dirty() ? 'matFilterAltOffFillOutline' : 'matFilterAltFillOutline'" />
    </button>
  </a9-floating-filter-bar>

  <section>
    <a9-http-resource-viewer [resource]="principals">
      @if(principals.hasValue()) {
      @let principalsList = principals.value()!;
      @if (principalsList?.length === 0) {
      <a9-hint-box mode="info" compact>{{ t('Clear filters to show all principals.') }}</a9-hint-box>
      } @else {
      @if (!responsiveness.isMobileView()) {
      <div hlmTableContainer class="py-4">
        <table hlmTable>
          <thead hlmTableHeader>
            <tr hlmTableRow>
              <th hlmTableHead>{{ t('Username') }}</th>
              <th hlmTableHead>{{ t('Name') }}</th>
              <th hlmTableHead class="hidden lg:table-cell">{{ t('Email') }}</th>
              <th hlmTableHead>{{ t('Type') }}</th>
              <th hlmTableHead class="hidden xl:table-cell">{{ t('Timezone') }}</th>
              <th hlmTableHead class="hidden xl:table-cell">{{ t('Locale') }}</th>
            </tr>
          </thead>
          <tbody hlmTableBody>
            @for (principal of principalsList; track principal.username) {

            <tr hlmTableRow>
              <td hlmTableCell>
                <a hlmBtn variant="link" [routerLink]="['/principal', 'show', principal.username]"
                  class="text-primary p-0">
                  {{ principal.username }}
                </a>
              </td>
              <td hlmTableCell>{{ principal.displayName }}</td>
              <td hlmTableCell class="hidden lg:table-cell">{{ principal.email }}</td>
              <td hlmTableCell>
                <div class="flex items-center-safe gap-1">
                  <cal-icon-principal-type [type]="principal.principalType?.label">
                  </cal-icon-principal-type>
                  <span class="show-xl">{{ principal.principalType?.name }}</span>
                </div>
              </td>
              <td hlmTableCell class="hidden xl:table-cell">{{ principal.timezone }}</td>
              <td hlmTableCell class="hidden xl:table-cell">{{ principal.locale }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      } @else {
      <div class="flex flex-col w-full gap-1 max-w-xl">
        @for (principal of principalsList; track principal.username) {
        <hlm-item variant="outline" [routerLink]="['/principal', 'show', principal.username]">
          <hlm-item-media variant="icon">
            <cal-icon-principal-type [type]="principal.principalType?.label">
            </cal-icon-principal-type>
          </hlm-item-media>
          <hlm-item-content>
            <hlm-item-title>{{ principal.username }}</hlm-item-title>
            <div hlmItemDescription>
              {{ principal.displayName }}<br />
              {{ principal.email }}
            </div>
          </hlm-item-content>
          <!--    <hlm-item-actions>
            <button hlmBtn variant="outline" size="sm">Action</button>
          </hlm-item-actions> -->
        </hlm-item>
        }
      </div>
      }
      }
      }
    </a9-http-resource-viewer>

    <a9-floating-action-bar>
      <cal-create-principal-button [permissions]="adminPermissions.value()"></cal-create-principal-button>
    </a9-floating-action-bar>
  </section>
</article>
