<hlm-field *transloco="let t">
  <label hlmFieldLabel for="searchTerm">{{label()}}</label>
  <hlm-autocomplete [(value)]="selected" [(search)]="search" [itemToString]="itemToString">
    <hlm-autocomplete-input inputId="searchTerm" />
    <hlm-autocomplete-content *hlmAutocompletePortal>
      <!-- <hlm-autocomplete-empty></hlm-autocomplete-empty> -->
      <hlm-autocomplete-status class="justify-start">
        @if (options.error(); as error) {
        {{ error }}
        } @else if (options.isLoading()) {
        <hlm-spinner />
        {{ t('Loading...') }}
        } @else if (search().length === 0) {
        {{ t('Type to search principals') }}
        } @else if (options.hasValue() && options.value().length === 0) {
        {{ t('No principal matches *search', {search: search()})}}
        } @else if (options.hasValue()) {
        {{ t('Results found *cnt',{cnt: options.value().length})}}
        }
      </hlm-autocomplete-status>
      <div hlmAutocompleteList>
        @if (options.hasValue()) {
        @for(principal of options.value(); track principal.username) {
        <hlm-autocomplete-item [value]="principal">{{principal.displayName}}</hlm-autocomplete-item>
        }
        }
      </div>
    </hlm-autocomplete-content>
  </hlm-autocomplete>
</hlm-field>
