<form [formRoot]="editForm" *transloco="let t">
  <hlm-card class="max-w-3xl">
    <hlm-card-header>
      <h3 hlmCardTitle>{{
        t('Edit *collection at *path', {
        path: $safeNavigationMigration(collection.value()?.uri),
        collection: t(collection.value()?.collectionType ?? 'Collection'),
        })
        }}
      </h3>
    </hlm-card-header>
    <div hlmCardContent>
      <hlm-field-group>
        <!-- <hlm-field>
        <label hlmFieldLabel>Uri</label>
        <input hlmInput formControlName="uri" type="text" placeholder="Uri / Path">
        </hlm-field> -->
        @if (collection.value()?.collectionType !== 'Collection') {
        <hlm-field>
          <label hlmFieldLabel>{{ t('Name') }}</label>
          <input hlmInput [formField]="editForm.displayName" type="text"
            [placeholder]="t('Name for display purposes')" />
          <a9-field-error [field]="editForm.displayName()">
          </a9-field-error>
        </hlm-field>
        }
        @if (collection.value()?.collectionType === 'Calendar') {
        <hlm-field>
          <label hlmFieldLabel>{{ t('Timezone') }}</label>
          <a9-input-timezone [formField]="editForm.timezone" [placeholder]="t('e.g. Europe/Zurich')" [empty]="t('No timezone(s) found')" />
          <a9-field-error [field]="editForm.color()">
            {{ t('Reference timezone for floating events') }}
          </a9-field-error>
        </hlm-field>

        <hlm-field orientation="horizontal">
          <hlm-checkbox inputId="excludeFreeBusy" [formField]="editForm.excludeFreeBusy" />
          <label hlmFieldLabel for="excludeFreeBusy">{{ t('Exclude from Free/Busy for scheduling') }}</label>
        </hlm-field>
        }

        <hlm-field>
          <label hlmFieldLabel>{{ t('Color') }}</label>
          <input hlmInput [formField]="editForm.color" type="color" colorspace="limited-srgb"
            [placeholder]="t('Color identifier')" />
          <a9-field-error [field]="editForm.color()">
            {{ t('Usage depends on client; format #rrggbbaa') }}
          </a9-field-error>
        </hlm-field>

        <hlm-field>
          <label hlmFieldLabel>{{ t('Description') }}</label>
          <textarea hlmTextarea [formField]="editForm.description" class="min-h-16"
            [placeholder]="t('Description')"></textarea>
        </hlm-field>

        <a9-form-error [errors]="editForm().getError('serverError')"></a9-form-error>
      </hlm-field-group>
    </div>
    <hlm-card-footer>
      <button hlmBtn variant="default" [disabled]="editForm().submitting()" type="submit">{{ t('Save') }}</button>
      <button hlmBtn variant="ghost" (click)="back()" type="button">{{ t('Cancel') }}</button>
    </hlm-card-footer>
  </hlm-card>
</form>

<!-- <pre class="debug">{{collection()|json}}</pre> -->
