:host {
  display: block;
  max-width: 48rem;
}

// .calendar-form {
//   display: grid;
//   gap: 1rem;
// }

// .formmsg {
//   background-color: var(--mat-sys-error);
//   color: var(--mat-sys-on-error);
//   padding: 1rem;
//   &:empty {
//     display: none;
//   }
// }
