@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  // gap: 1rem;
}

.priv-class {
  padding: 0.75em 1em;
  color: var(--mat-sys-on-tertiary-container);
  background-color: var(--mat-sys-tertiary-container);
  &:first-child {
    margin-top: 0;
  }
}

.custom,
.priv-class {
  margin: 0;
  margin-top: 2em;
}

.memberlist {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.principal,
.collection {
  padding: 0.5rem;
  font: var(--mat-sys-label-large);
}

.indirect {
  @include mat.button-overrides(
    (
      text-label-text-color: var(--mat-sys-tertiary),
      // text-label-text-weight: bolder,
      text-state-layer-color: var(--mat-sys-tertiary),
      // text-container-shape: 15px,
    )
  );
}

.editable {
  @include mat.button-overrides(
    (
      outlined-label-text-color: var(--mat-sys-on-surface-variant),
      // text-label-text-weight: bolder,
      outlined-state-layer-color: var(--mat-sys-outline),
      // text-container-shape: 15px,
    )
  );
}

.member {
  display: flex;
  align-items: anchor-center;
  padding: 0.125em;
  color: var(--mat-sys-primary);

  &.indirect {
    color: var(--mat-sys-tertiary);
  }
}

.grants {
  grid-column: 2;
  margin: 0;
  list-style: square;

  .grant-id {
    color: var(--mat-sys-inverse-primary);
    letter-spacing: 0.66px;
  }
}
