<hlm-card *transloco="let t" class="[--card-spacing:--spacing(4)] max-w-5xl">
  @if (principal(); as principal) {
  <hlm-card-header>
    <div class="flex items-center gap-3 w-full">
      <cal-icon-principal-type size="2.25rem"
        [type]="$safeNavigationMigration(principal.principalType?.label)"></cal-icon-principal-type>
      <div>
        <h3 hlmCardTitle>
          {{ t('Principal') }}&nbsp;&ndash;&nbsp;{{ principal.displayName }}
        </h3>
        <p hlmCardDescription>{{ principal.uri }}</p>
      </div>
    </div>
  </hlm-card-header>
  <div hlmCardContent>
    <a9-label-value-list>
      <a9-label-value-item>
        <label>{{ t('Username') }}</label>
        {{ principal.username }}
      </a9-label-value-item>
      <a9-label-value-item>
        <label>{{ t('Type') }}</label>
        {{ principal.principalType?.name }}
      </a9-label-value-item>
      <a9-label-value-item>
        <label>{{ t('Full name') }}</label>
        {{ principal.displayName }}
      </a9-label-value-item>
      <a9-label-value-item>
        <label>{{ t('Email') }}</label>
        {{ principal.email }}
        @if (principal.isEmailVerified) {
        <span hlmBadge variant="default" class="ms-2">{{ t('Verified') }}</span>
        } @else {
        <span hlmBadge variant="destructive" class="ms-2">{{ t('Not verified') }}</span>
        }
      </a9-label-value-item>
      @if (principal.description) {
      <a9-label-value-item>
        <label>{{ t('Description') }}</label>
        {{ principal.description }}
      </a9-label-value-item>
      }
      <a9-label-value-item>
        <label>{{ t('Timezone') }}</label>
        {{ principal.timezone }}
      </a9-label-value-item>
      <a9-label-value-item>
        <label>{{ t('Locale') }}</label>
        {{ principal.locale }}
      </a9-label-value-item>
      <a9-label-value-item>
        <label>{{ t('Date format style') }}</label>
        {{ principal.dateFormatType }}
      </a9-label-value-item>
      @if (principal.color) {
      <a9-label-value-item>
        <label>{{ t('Color') }}</label>
        <cal-color-swatch [color]="principal.color"></cal-color-swatch>
      </a9-label-value-item>
      }
      @if (!principal.isRoot && hasPermission(principal.permissions, PrivilegeMask.ReadAcl)) {
      <a9-label-value-item>
        <label>{{ t('Global allow') }}</label>
        <cal-list-permissions [permissions]="principal.globalPermitSelf"></cal-list-permissions>
      </a9-label-value-item>
      <a9-label-value-item>
        <label>{{ t('Authorized user prohibited') }}</label>
        <cal-list-permissions [permissions]="principal.authorizedProhibit" [prohibit]="true"></cal-list-permissions>
      </a9-label-value-item>
      <a9-label-value-item>
        <label>{{ t('Owner prohibited') }}</label>
        <cal-list-permissions [permissions]="principal.ownerProhibit" [prohibit]="true"></cal-list-permissions>
      </a9-label-value-item>
      }
      <a9-label-value-item class="admin">
        <label>{{ t('Created') }}</label>
        <span class="text-sm">{{ principal.created | date }}</span>
      </a9-label-value-item>
      <a9-label-value-item class="admin">
        <label>{{ t('Last modified') }}</label>
        <span class="text-sm">{{ principal.modified | date }}</span>
      </a9-label-value-item>
    </a9-label-value-list>
  </div>
  <hlm-card-footer>
    <div hlmButtonGroup>
      <button hlmBtn [disabled]="
            !principal.username ||
            !hasPermission(principal.permissions, PrivilegeMask.WriteProperties)
          " [routerLink]="['/principal', 'edit', principal.username]" variant="outline">
        {{ t('Edit') }}
      </button>
      <button hlmBtn [disabled]="
            !principal.username || !hasPermission(principal.permissions, PrivilegeMask.WriteAcl)
          " [routerLink]="['/principal', 'permissions', principal.username]" variant="outline">
        {{ t('Permissions') }}
      </button>
      <button hlmBtn [disabled]="
            !principal.username || !hasPermission(principal.permissions, PrivilegeMask.Unbind)
          " (click)="delete()" variant="destructive">
        {{ t('Delete') }}
      </button>
    </div>
  </hlm-card-footer>
  }
</hlm-card>
