:host {
  display: block;
}

.credentials {
  display: grid;
  grid-template-columns: fit-content(48rem);
  gap: 1em;
}

.locked {
  padding: 0 0.5em;
  color: var(--mat-sys-on-error);
  background-color: var(--mat-sys-error);
}
