:host {
  display: block;
  max-width: min(100%, 48rem);
  --mat-icon-button-state-layer-size: 48px;
  // --mat-icon-button-state-layer-size: 48px;
}

.priv-class {
  margin: 0;
  margin-top: 0.5em;
  padding: 0.75em 1em;
  color: var(--mat-sys-on-secondary-container);
  background-color: var(--mat-sys-secondary-container);
}

.memberlist {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

// .member {
//   display: flex;
//   align-items: anchor-center;
//   // padding: 0.125em;
// }
