.calendare-table {
  min-width: 100%;
  border: 0;
  border-spacing: 0;
  table-layout: auto;
  white-space: normal;
  background-color: var(--mat-table-background-color, var(--mat-sys-surface));

  tr {
    background: inherit;
    height: var(--mat-table-row-item-container-height, 52px);
    color: var(
      --mat-table-row-item-label-text-color,
      var(--mat-sys-on-surface, rgba(0, 0, 0, 0.87))
    );
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(
      --mat-table-row-item-label-text-font,
      var(--mat-sys-body-medium-font, Roboto, sans-serif)
    );
    line-height: var(
      --mat-table-row-item-label-text-line-height,
      var(--mat-sys-body-medium-line-height)
    );
    font-size: var(
      --mat-table-row-item-label-text-size,
      var(--mat-sys-body-medium-size, 14px)
    );
    font-weight: var(
      --mat-table-row-item-label-text-weight,
      var(--mat-sys-body-medium-weight)
    );
  }
  thead {
    tr {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      height: var(--mat-table-header-container-height, 56px);
      color: var(
        --mat-table-header-headline-color,
        var(--mat-sys-on-surface, rgba(0, 0, 0, 0.87))
      );
      font: var(--mat-sys-title-small);
    }
    td,
    th {
      border-bottom-color: var(
        --mat-table-row-item-outline-color,
        var(--mat-sys-outline, rgba(0, 0, 0, 0.12))
      );
      border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
      border-bottom-style: solid;
      font: var(--mat-sys-title-small);
      letter-spacing: var(
        --mat-table-header-headline-tracking,
        var(--mat-sys-title-small-tracking)
      );
      box-sizing: border-box;
      text-overflow: ellipsis;
      overflow: hidden;
      outline: none;
      text-align: left;
    }
  }

  td,
  th {
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    padding: 0 1rem;
    border-bottom-color: var(
      --mat-table-row-item-outline-color,
      var(--mat-sys-outline, rgba(0, 0, 0, 0.12))
    );
    border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
    border-bottom-style: solid;
    font: var(--mat-sys-body-medium);
    letter-spacing: var(
      --mat-table-row-item-label-text-tracking,
      var(--mat-sys-body-medium-tracking)
    );
    // line-height: inherit;
  }
  th {
    font-weight: var(--mat-sys-title-small-weight);
  }
}
